
canvas {
  -webkit-transform: translateZ(0);
  -moz-transform:  translate(tx[0, 0);
  transform:  translate(0, 0);
  /*width: 940px;*/
}

html {
  background: #FFF url("../img/traktor_bg.png") no-repeat center center fixed;
  -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;
}

body {
    /*font-family: 'Commodore64PixelizedRegular';
    color: #4036CD;
    font-weight: normal;
    text-transform: uppercase;
    text-shadow: 1px 1px 0px #FFF, -1px -1px 0px #FFF, 1px -1px 0px #FFF, -1px 1px 0px #FFF;*/
    overflow: hidden;
    background-color: transparent;
}

nav { }

.row { margin-left: 0; }

#cr-stage.loading-scene {
  background-color: transparent !important;
  width: 1280px; height: 800px; overflow-x: hidden; overflow-y: hidden; position: relative; background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(255, 255, 255); background-position: initial initial; background-repeat: initial initial; 
}

.hero-unit {
  background: transparent;
  text-align: center;
  padding: 100px 60px 30px;
}

.hero-unit .hero-title {
  margin-bottom: 2em;
  -ms-transform: rotate(5deg);
  -webkit-transform: rotate(-5deg);
  -o-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  transform: rotate(5deg);
  float: none;
}

.hero-unit .hero-logo {
  width: 340px;
  margin-left: 100px;
}

/*
nav div { 
  display: inline-block; }
nav div span { display: inline-block; }
.game-start {
  cursor: pointer; }
.game-start, .game-time { 
  color: #4036CD; }
.game-diamond-info, .game-score {
  width: 100px; }
.game-collected {
  width: 15px; }
.game-time {
  width: 200px; }
.game-diamond-objective, .game-collected {
  color: goldenrod; }
.game-diamond-info, .game-time, .game-score, .game-collected {
  margin-left: 1em; }
*/
